<mat-card>
  <mat-card-title> Create new User </mat-card-title>
  <mat-card-content>
    <form [formGroup]="addUserFor" (submit)="createUser()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="addUserFor.controls['username'].errors && addUserFor.controls['username'].hasError('required')">username is Required</mat-error>
          <mat-error *ngIf="addUserFor.controls['username'].errors && addUserFor.controls['username'].hasError('email')">username is Invalid</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="addUserFor.controls['email'].errors && addUserFor.controls['email'].hasError('required')">Email is Required</mat-error>
          <mat-error *ngIf="addUserFor.controls['email'].errors && addUserFor.controls['email'].hasError('email')">Email is Invalid</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Phone" formControlName="phone" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="addUserFor.controls['phone'].errors && addUserFor.controls['phone'].hasError('required')">Phone Number is required</mat-error>
          <mat-error *ngIf="addUserFor.controls['phone'].errors && addUserFor.controls['phone'].hasError('maxlength')">Phone Number should be 10 Length</mat-error>
        </mat-form-field>
      </p>

      <p>
        <button mat-raised-button color="primary" [disabled]="!addUserFor.valid">Create Users</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
